.portfolio-list {
  max-width: 100%;
  height: 100%;
  padding: 30px 0 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  @media (min-width: $tablet) {
    -webkit-column-gap: 43px;
       -moz-column-gap: 43px;
            column-gap: 43px;
    row-gap: 40px;
    padding: 60px 0 0;
  }
  @media (min-width: $desktop) {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.portfolio-list__item {
  width: 45%;
  min-height: 144px;
  border-radius: 5px;
  position: relative;
  @media (min-width: $mobile-hight) {
    min-height: 220px;
  }
  @media (min-width: $tablet) {
    min-height: 300px;
  }
  @media (min-width: 1050px) {
    width: 33.333%;
  }
  @media (min-width: $desktop) {
    min-height: 430px;
    background-position: 50%;
  }
}
.portfolio-list__lead {
  width: 100%;
  min-height: 20px;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #086846;
  color: #ffffff;
  opacity: 0.9;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  white-space: pre;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.portfolio-list__link {
  width: 100%;
  height: 100%;
  display: block;
}
.berry-bg {
  background-image: url('../../../img/portfolio/berry.png');
  background-repeat: no-repeat;
  background-size: cover;
  @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 2dppx) {
    background-image: url('../../../img/portfolio/retina/mobile/berry-2x-mob.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (min-width: $desktop) {
    @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 2dppx) {
    background-image: url('../../../img/portfolio/retina/desktop/berry-2x-desk.png');
    background-repeat: no-repeat;
    background-size: cover;
    }
  }
}
.sed-first-bg {
  background-image: url('../../../img/portfolio/sedona2.png');
  background-repeat: no-repeat;
  background-size: cover;
  @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 2dppx) {
    background-image: url('../../../img/portfolio/retina/mobile/sedona-2-2xmob.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (min-width: $desktop) {
    @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 2dppx) {
      background-image: url('../../../img/portfolio/retina/desktop/sedona2-2x-desk.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  }
.sed-second-bg {
  background-image: url('../../../img/portfolio/sedona-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 2dppx) {
    background-image: url('../../../img/portfolio/retina/mobile/sedona-1-2xmob.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (min-width: $desktop) {
    @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 2dppx) {
      background-image: url('../../../img/portfolio/retina/desktop/sedona-1-2x-desk.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
}
}
